@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root{
    --gradiente: radial-gradient(circle at -20.44% 56.16%, #767b78 0, #6a7571 10%, #5c6f6a 20%, #4c6964 30%, #39615e 40%, #1f5959 50%, #005155 60%, #004953 70%, #004252 80%, #003b53 90%, #003553 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   text-decoration: none;
    list-style: none;
}

body{
    background-image: var(--gradiente);
    max-width: 1327px;
    margin: 0 auto;
}

header{
   padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #005155;
}
header h1{
    color:rgba(16, 16, 16, 0.6);
    font-size: 2.5rem;
}
ul.navigation-primary{
    display: flex;
    gap: 12px;

}
a.link-item{
    color: #62928f;
    font-size: 1.1rem;
}
.link-item:hover{
   color: #88ddd7f9;
}
header samp{
    color: #fff;
}


.img-responsive{
    max-width: 100%;
    padding: 1rem;
    border-radius: 5px;
    
}
.section-div{
    animation: inicializar 7s forwards;
    display: grid;  
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap:60px ;
    padding: 60px;
}
.section-div div{
    margin: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.section-div h2 {
    font-family: "Poppins";
    font-weight:600;
}
.section-div p  {
    font-weight:200;
    font-family: "Poppins";
}

.section-div h3  {
    font-weight:200;
    font-family: "Poppins";
}

.section-div div a{
    padding:15px 40px;
    border-radius: 5px;
    color: #000000ec;
    border: 2px solid #000;
    justify-self: start;
}
.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscar .5s infinite;
}

@keyframes piscar {
    from {
        opacity: 1;
        
    }
    to {
        opacity: 0;
        
    }
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*seção principal sobre mim*/

main{
    background-image: var(--gradiente);
}
.img_sobre{
    max-width: 100%;
}

.sobre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding:40px;
}

.sobre_titulo{
    margin:30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: #000;
}

.sobre_titulo h1{
    font-size:2.5rem;
    color :#192418;
    margin-bottom: 15px;
    font-family: "Berkshire Swash", cursive;
}

.fa-circle-info{
    color: #192418;
     padding: 2px;
}

.sobre_titulo  .buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 2px;
}
.buttons span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #0e7902ad;
}

.sobre img{ /*Essa transição desfoca um pouco a imagem*/ 
    animation: lado_secao 5s ease-in-out forwards;
    cursor: pointer;
    grid:2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}
.sobre img:hover{
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre_conteudo{
    animation: sobe_secao .6s ease-in-out forwards;
    grid-column: 2/-1;
    display:grid;
    grid-template-columns: 1fr 1fr;
    color: #000000c5;
    
}

.sobre_texto{
    display:grid;
    grid-column:1/-1;
    grid-template-columns: 1fr 1fr;
    
}

.sobre_texto h1{
    font-size:2.3rem;
    color: #002540;
    grid-column: 1/-1;
}
.sobre_texto h1::after{
    background-color:#0e7902ad;
    height: 6px;
    width: 60px;
    margin: 20px;
    content: "";
    display: block;
    border-radius: 5px;
}
.sobre_texto p{
    font-size: 1.3rem;
    grid-column: 1/-1;
}

.sobre_info{
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i{
    color: #0e7902ad;
    display: inline-block;
    padding-right: 15px;
    font-size:1.5rem;
}
.sobre_info p{
    font-size:.9rem;
}



@keyframes sobe_secao {
    from {
        transition: .5s; 
        transform: translate3d(60px, 0, 0);
    }
    to { 
        transform: translate3d(0, 0, 0);
    }
    
}

@keyframes lado_secao {
    from {
        transition: .5s; 
        transform: translate3d(-60px, 0, 0);
    }
    to { 
        transform: translate3d(0, 0, 0);
    }
    
}
/*SEÇÃO SERVICES*/

   .services {
    margin-top: -30px;
    padding: 60px;
    background-image: var(--gradiente);
   }

   .my_services{
    padding:60px;
    color: #000;
   }
   .my_services ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
   }

   .my_services ul li{
    cursor: pointer;
    position: relative; 
    padding: 10px;
    gap: 30px;
    display: grid;
    text-align: center;
    max-width: 300px;
    height: 300px;
    background-color: #1a4e55;
    align-content: center;
    border-radius: 6px;


   }

   .my_services ul li i{
    font-size:2rem;
    color:#0e790285;
   }

   .my_services ul li h3{
    color:#003553;
    font-size: 1.6rem;
    font-family: 'poppins';
    font-weight: 500;
   }

   .my_services ul li p{
    color:#000;
    font-size: 1.1rem;
   }

   .my_services li::before{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -1px;
    right: -1px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
   }

   my_services li::after{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom:  -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
   }

   .my_services li:hover::before{
    width: 100%;
    height: 100%;
    border-top: 2px solid #0e7902f3;
    border-right: 2px solid #0e7902d6;
   }

   .my_services li:hover::after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #1bc708e9;
    border-left: 2px solid #1ac307ee;
   }

   .sobre_services h1{
    font-size:2.5rem;
    color :#192418;
    margin-bottom: 15px;
    font-family: "Berkshire Swash", cursive;
    text-align: center;
}

.sobre_services  .buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 2px;
}
    /*RESPONSIVIDADE*/

    @media(max-width:992px){
        .sobre .img_sobre{
            grid-column: 1/-1;
            justify-content: center;
        }
        .sobre_conteudo{
            grid-column: 1/-1;
        }
        .section-div .img-responsive{
            display: none;
        }
        .section-div{
            background-image: url(../img/fotoCurriculo2.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        header .navigation-primary{
            display: none;
        }
        header i{
            font-size: 2rem;
        }
    }